@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";


:root {
  --alert-bg: #FFCC34;
  --alert-fg: #000000;
}

body {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

